.imageP-root-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imageP-photo-div-inner {
  padding: 50px;
  background-color: rgb(33, 33, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0px;
}

.imageP-photo {
  max-width: 750px;
  max-height: 500px;
}

.imageP-photo-tools {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  cursor: default;
}

.imageP-delete-button {
  cursor: pointer;
}

.imageP-delete-button span {
  color: rgb(164, 8, 8);
}

.imageP-delete-button span:hover {
  filter: brightness(150%);
}

.imageP-delete-comment-form-container {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(243, 245, 246, 0.7);
  width: 100vw;
  min-height: 100vh;
  /* height: 100%; */
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}

.imageP-delete-form-container {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(243, 245, 246, 0.7);
  width: 100vw;
  min-height: 100vh;
  /* height: 100%; */
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}

.imageP-delete-text1 {
  display: flex;
  align-items: center;
  height: 53px;
  padding: 19px 20px 16px;
  font-size: 18px;
}

.imageP-delete-text2 {
  display: flex;
  align-items: flex-start;
  height: 60px;
  padding: 0px 20px;
  font-size: 14px;
}

.imageP-delete-form {
  width: 620px;
  /* border: 1px solid black; */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  background-color: white;
}

.imageP-delete-form-btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.imageP-cancel-btn {
  padding: 0px 20px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  height: 29px;

  font-size: 14px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: rgb(151, 158, 162);
  /* background-color: var(--btnDelete2); */

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.imageP-cancel-btn:hover {
  background-color: rgb(81, 136, 224);
}

.imageP-delete-btn {
  padding: 0px 20px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  height: 29px;

  font-size: 14px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  /* background-color: rgb(151, 158, 162); */
  /* background-color: var(--btnDelete2); */
  background-color: rgba(209, 61, 54, 0.9);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.imageP-delete-btn:hover {
  /* background-color: rgb(81, 136, 224); */
  background-color: rgba(209, 61, 54, 1);
  border: 1px solid var(--btnDelete2);
}

/*  */

.imageP-body-lower-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--bg1);

  /* 100% is initial size of html. */
  /* height: 100%; */
  height: auto;
  width: 100%;
  flex-grow: 1;
}

.imageP-body-lower-inner {
  /* padding: 26px 200px; */
  padding: 26px 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.imageP-title-desc-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.imageP-profile-image {
  height: 60px;
  min-width: 60px;
  background-position: center;
  background-size: contain;
  border-radius: 60px;
}

.imageP-username-title-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 700px; */
  gap: 10px;
}

.imageP-username-title-div a {
  text-decoration: none;
  color: var(--mid2);
}
.imageP-username {
  font-size: 20px;
}

.imageP-title-desc-div {
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid rgb(225, 229, 231); */
  border-bottom: 1px solid rgb(203, 206, 207);
  font-size: 14px;
  gap: 10px;
  padding-bottom: 10px;
  max-width: 700px;

  position: relative;
}

.imageP-image-text-edit {
  position: absolute;
  right: 0px;
  bottom: 10px;
  cursor: pointer;
}

.imageP-image-text-edit:hover {
  color: black;
}

.imageP-form-control {
  max-width: 700px;
}

.imageP-title {
  font-size: 16px;
}

.imageP-desc {
  padding-right: 30px;
  font-size: 14px;

  /* display spaces and line breaks */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
}

.imageP-profile-image {
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: contain;
  border-radius: 60px;
}

/*  */
/*  */
/*  */

.noPointer {
  cursor: text;
}

.imageP-spacer-div {
  height: 10px;
}

.imageP-error-container {
  background-color: #ffd8dc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 72px;
  padding: 8px;
  margin-bottom: 16px;
}

.imageP-error-message {
  color: #212124;
  /* font-size: 1rem; */
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
}

/* .upload-form-control {
  border: 1px solid var(--table1);
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
} */

.imageP-form-group {
  display: flex;
  position: relative;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 8px;
  border: 1px solid rgb(126, 126, 126);
  background-color: rgb(249, 249, 249);
}

.imageP-form-group-color {
  border: 1px solid var(--mid2);
}

.imageP-label {
  display: block;
  position: absolute;
  left: 16px;
  top: 20px;
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgb(137, 137, 137);
  cursor: text;

  /* controls whether the user can select text */
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.imageP-label-small {
  line-height: 1.3;
  font-size: 12px;
  left: 16px;
  top: 8px;
}

.imageP-label-color {
  color: var(--mid2);
}

.imageP-input {
  /* top | right | bottom | left */
  padding: 27px 16px 7px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.imageP-input:focus {
  outline: none;
}

.imageP-container {
  display: flex;
  justify-content: center;
}

.imageP-btn {
  margin-top: 32px;
  padding: 10px 15px;
  border: 1px solid var(--mid1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--mid1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.imageP-btn:hover {
  background-color: rgb(81, 136, 224);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/* COMMENT DIV SECTION */

.imageP-comment-list-container {
  margin-top: 20px;
  margin-left: 28px;
}

.imageP-comment-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.imageP-comment-image {
  height: 32px;
  min-width: 32px;

  background-image: url('../../images/demoUser-icon.jpg');
  background-position: center;
  background-size: contain;
  border-radius: 32px;
}

.imageP-comment-right-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 15px;
  font-size: 14px;
  position: relative;
  width: 700px;
}

.imageP-comment-text-div {
  padding-right: 60px;

  /* display spaces and line breaks */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
}

/* .highlight:hover {
  border: 1px solid var(--mid4);
  background-color: rgba(128, 128, 128, 0.2);
} */

.imageP-comment-username-div {
  display: flex;
  gap: 10px;

  padding-right: 60px;
}

@media screen and (max-width: 500px) {
  .imageP-comment-username-div {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
  }
}

.imageP-comment-username-div a {
  text-decoration: none;
  color: var(--mid2);
}

.imageP-comment-username-div a:hover {
  text-decoration: underline;
}

.imageP-comment-date {
  color: rgb(137, 137, 137);
}

.imageP-edit-comment-button {
  all: unset;
  display: block;
  position: absolute;
  right: 25px;
  top: 0px;
  cursor: pointer;
}

.imageP-edit-comment-button span:hover {
  color: black;
}

.imageP-delete-comment-button {
  all: unset;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.imageP-delete-comment-button span:hover {
  color: black;
}

.imageP-newComment-container {
  display: flex;
  gap: 20px;
}

.imageP-newComment-image {
  height: 32px;
  min-width: 32px;
  background-image: url('../../images/demoUser-icon.jpg');
  background-position: center;
  background-size: contain;
  border-radius: 32px;
}

.imageP-newComment-form {
  width: 700px;
  padding-right: 60px;
}

.imageP-newComment-textarea {
  outline: none;
  border: none;
  border-radius: 3px;
  resize: vertical;
  width: 100%;
}

.imageP-comment-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 10px;
  width: 100%;
  height: 32px;
}

.imageP-comment-btn {
  padding: 0px 20px;
  border: 1px solid var(--mid1);
  border-radius: 4px;
  height: 32px;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--mid1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.imageP-comment-btn:hover {
  background-color: rgb(81, 136, 224);
}

/* needs to be at the bottom */
.hidden {
  display: none;
}

#root.overflow {
  overflow: hidden;
}
