.nav-inner {
  display: flex;
  flex-direction: column;
}

.upload-nav {
  background-color: rgb(249, 249, 249);
  height: 48px;
  width: 100%;
}

.upload-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 43px;
  /* margin: auto; */
}

.upload-nav-inner li {
  list-style-type: none;
}

.upload-nav-right-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.upload-nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.upload-nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.upload-nav-link {
  display: flex;
}

.upload-nav-photostream,
.upload-nav-create,
.upload-nav-oldUploadr,
.upload-nav-newHere {
  color: rgb(102, 102, 102);
  text-decoration: none;
  cursor: text;
}

.upload-nav-photostream {
  cursor: pointer;
}

/* .upload-nav-logo {} */

/* AUTH NAV */
.auth-nav {
  background-color: var(--nav);
  height: 48px;
  width: 100%;
}

.auth-nav-inner {
  display: flex;
  align-items: center;
  height: 48px;
  width: 80%;
  margin: auto;
}

.auth-nav-link {
  display: flex;
}

.auth-nav-logo {
  width: 98px;
  height: 21.6px;
}

/* SPLASH  NAVIGATION CSS*/

.splash-nav {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
}

.splash-nav-inner {
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  height: 64px;
  width: 100%;
  padding: 0px 24px;
}

.splash-nav-logo {
  width: 98px;
  height: 21px;
}

.splash-nav-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.splash-nav-search-div {
  flex-grow: 1;
}

.splash-nav-search-form {
  display: flex;
  padding: 0px 100px;
  margin-left: 23px;
  /* grow to fit rest of container */
  flex-grow: 1;
}

.splash-nav-search-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 11px;
  padding-right: 5px;
  color: rgb(94, 94, 94);
  width: 37px;
}

.splash-nav-search-form input {
  width: 100%;
  padding: 6px 10px 6px 0px;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
}

.splash-login {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 32px;
  padding: 0px 20px;

  color: white;

  text-decoration: none;
  white-space: nowrap;
}

.splash-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 32px;
  padding: 0px 20px;

  background-color: white;
  border-radius: 3px;
  color: black;

  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 1080px) {
  .splash-nav-search-form {
    padding: 0px 50px;
    margin-left: 23px;
  }
}

@media screen and (max-width: 700px) {
  .splash-login {
    width: 67px;
    height: 34px;
    padding: 5px 10px;
    margin: 0 8px;
    border: 2px solid white;
  }

  .splash-signup {
    display: none;
  }

  /* TO DO add class that updates search input and hides flickr logo upon focus */

  .splash-nav-search-form {
    padding: 0px 25px;
    margin-left: 23px;
  }
}
